# ===== OS =====
.DS_Store
Thumbs.db

# ===== IDE =====
.vscode/

# ===== Logs =====
*.log

# ===== Database files =====
*.db
*.mv.db

# ===== Backend runtime data =====
Backend/data/

# ===== Node / Java =====
node_modules/
target/
build/

# ===== Environment =====
.env
